<div class="min-h-full">
  <div class="{{if this.onLoading "loader" "hide"}}"></div>
  <div class={{if this.onLoading "hide"}}>
    {{#each posts as |post|}}
      <article class="post" {{action "setPost" post}}>
        {{post.title}}
      </article>
    {{/each}}
    <button class="btn-blue" {{action "getPrev"}}>
      Prev
    </button>
    <button class="btn-blue" {{action "getNext"}}>
      Next
    </button>
  </div>
</div>