{{loader-ball-pulse class=onLoading}}
{{#each posts as |post|}}
  <article class="post">
    <button {{action "setPost" post}}>
      {{post.title}}
    </button>
  </article>
{{/each}}
<button class="btn-blue {{if this.hidePrev "hide"}}" {{action "getPrev"}}>
  Prev
</button>
<button class="btn-blue {{if this.hideNext "hide"}}" {{action "getNext"}}>
  Next
</button>