<div class="jumbo">
  <h1>
    Welcome!
  </h1>
  <p>
    We hope you find exactly what you're looking for in posts
  </p>
  <div class={{if this.notClick "no-click"}}>
    {{posts-list clickPost=(action "getPost")}}
  </div>
  {{#esp-menu
    position="left"
    open=showLeftSlideMenu
    customClasses="my-custom-menu"
  }}
    <button {{action "hideMenu"}}>
      X
    </button>
    <h3>
      {{currentPost.title}}
    </h3>
    <h3>
      {{currentPostUser.name}}
    </h3>
  {{/esp-menu}}
</div>